<%- include('includes/head.ejs') %>
    </head>

    <body>
        <div class="container">
            <%- include('includes/navigation.ejs') %>
                <h2>Oops! The page you are requesting was not found</h2>
        </div>
        <%- include('includes/footer.ejs') %>