<%- include('includes/head.ejs') %>
    </head>

    <body>
        <div class="container">
            <%- include('includes/navigation.ejs') %>
            	<h2>Oops! An error has occurred.</h2>
                <p>We are working on fixing this, please try again later. Sorry for the inconveniences.</p>
        </div>
        <%- include('includes/footer.ejs') %>